@model Evento.ViewModels.AssociationDetailsViewModel
@using Evento.Models;
@{
    Layout = "_layout";
    ViewBag.Title = "Détails d’une association";
}>
    <h1>Détail de l’association</h1>
    <div>
        <h2>@Model.Association.Name</h2>
        <p>@Model.Association.Description</p>
        <p>Siret : @Model.Association.Siret</p>
    </div>
    
	<h2>Evènements organisés par l’association :</h2>
    <ul>
    @foreach (Event e in Model.Events as List<Event>)
    {
			<li>
				@Html.ActionLink(@e.Name, "EventDetails", "Event", new { id = e.Id }, null)
			</li>
    }
    </ul>
    <p>
        @Html.ActionLink("Voir la liste des associations", "AssociationsList", "Association")
    </p>

