@model Evento.ViewModels.EventDetailsViewModel
@using Evento.Models;
@{
    Layout = "_layout";
    ViewBag.Title = "Détail de l’évènement";
}
    <h1>Détail de l’évènement</h1>
    <div>
        <h2>@Model.Eventt.Name</h2>
        <p>@Model.Eventt.Description</p>
        <p>Date de début : @Model.Eventt.StartDate.ToString("dd/MM/yyyy")</p>
        <p>Date de fin : @Model.Eventt.EndDate.ToString("dd/MM/yyyy")</p>
        <p>Prix d’un ticket : @Model.Eventt.Price €</p>
        <p>Nombre de places restant : @ViewData["NumberOfTicketsToSold"]</p>
        <p>Lieu : @Model.Venue.Name</p>
        <address>
            adresse : <br/>
            @Model.Venue.StreetNumber @Model.Venue.StreetName <br />
            @Model.Venue.ZipCode @Model.Venue.City <br />
            @Model.Venue.Country
        </address>
        <p>Association organisatrice : @Html.ActionLink(Convert.ToString(@Model.Association.Name), "AssociationDetails", "Association", new { id = @Model.Association.Id }, null)</p>

    </div>
    <p>
        @Html.ActionLink("Liste des évènements", "EventsList", "Event")
    </p>

