@model Evento.ViewModels.EventsListViewModel
@using Evento.Models;
@{
    Layout = "_layout";
    ViewBag.Title = "Liste de tous les évènements";
}

        <h1>Liste de tous les évènements</h1>
        <h2>Évènements passés</h2>
        <table class ="table">
                <thead>
		        <tr>
			        <th>Id</th>
			        <th>Nom de l’évènement</th>
                </tr>
            </thead>

            @foreach (Event e in @Model.PastEvents as List<Event>)
            {
               <tr>
					<td>@e.Id</td>
                    <td>@Html.ActionLink(@e.Name, "EventDetails", "Event", new { id = e.Id }, null)</td>
               </tr>
            }
        </table>
        <h2>Évènements à venir</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom de l’évènement</th>
                </tr>
            </thead>

            @foreach (Event e in @Model.FutureEvents as List<Event>)
            {
                <tr>
                    <td>@e.Id</td>
                    <td>@Html.ActionLink(@e.Name, "EventDetails", "Event", new { id = e.Id }, null)</td>
                </tr>
            }
        </table>

